APACHE_VOLUME=apache-volume
APACHE_NAME=apache
ARCHIVA_VOLUME=archiva-volume
CI_NETWORK=ci-network
GERRIT_ADMIN_EMAIL=admin@example.com
GERRIT_ADMIN_PWD=s3cr3t0
GERRIT_ADMIN_UID=admin
GERRIT_IMAGE_NAME=codeurjc/forge-gerrit
GERRIT_NAME=gerrit
GERRIT_PORT=8080
GERRIT_VOLUME=gerrit-volume
HTTPD_LISTENURL=http://*:8080
JENKINS_IMAGE_NAME=codeurjc/forge-jenkins
JENKINS_NAME=jenkins
JENKINS_OPTS=--prefix=/jenkins
JENKINS_VOLUME=jenkins-volume
JENKINS_EMAIL=jenkins@domain.local
LDAP_ACCOUNTBASE="dc=example,dc=com"
PG_GERRIT_NAME=pg-gerrit
POSTGRES_IMAGE=postgres
TIMEZONE="Europe/Madrid"
SLAPD_PASSWORD=secret 
SLAPD_DOMAIN=example.com
LDAP_IMAGE_NAME=openfrontier/openldap
LDAP_NAME=openldap
GERRIT_DEVELOPER_EMAIL=dev@example.com
GERRIT_DEVELOPER_USERNAME=developer
GERRIT_DEVELOPER_PASSWORD=d3v3l0p3r
INITIAL_PROJECT_NAME=awesome-project
INITIAL_PROJECT_DESCRIPTION="Super project"