## Prefix to label the stuff
# This string will be added to every container and volumes within the forge
FORGE_PREFIX=codeurjc-forge

## Forge Config Dir
# The Forge will use this directory to write some configuration
# before launch the containers. For example, we need to configure
# access to Archiva Rest API before launch Archiva itself
FORGE_CONFIG_DIR=${HOME}/codeurjc-forge

## Containers name
# You can, of course, be more original than us
# Those names and the prefix will be used by the forge to reach services
# So avoid the use of spaces and special characters.
JENKINS_NAME=jenkins
ARCHIVA_NAME=archiva
GITLAB_NAME=gitlab
GITLAB_RUNNER_NAME=gitlab-runner
SONAR_NAME=sonar

## Volume name
# Names for the containers volume we keep data confy
JENKINS_VOLUME=jenkins-volume
SONAR_VOLUME=sonar-volume
GITLAB_VOLUME_RUNNER=gitlab-runner-volume

## Network name
# The forge will be deployed in an isolated network
# set the name here
CI_NETWORK=ci-network

# Bash Colors
export RED='\033[0;31m'
export GREEN='\033[0;32m'
export YELLOW='\033[1;33m'
export NC='\033[0m'

## Initial credentials
# We create users by default. An admin and a couple of regular users.
# You can set up the information here.
ADMIN_EMAIL=admin@example.com
ADMIN_PWD=s3cr3t05
ADMIN_UID=admin
DEVELOPER1_EMAIL=dev1@example.com
DEVELOPER1_PASSWORD=d3v3l0p3r
DEVELOPER1_USERNAME=dev1
DEVELOPER1_NAME=developer
DEVELOPER2_EMAIL=dev2@example.com
DEVELOPER2_PASSWORD=d3v3l0p3r
DEVELOPER2_USERNAME=dev2
CI_USERNAME=jenkins
CI_NAME="Jenkins CI"
CI_PASSWORD=j3nk1ns_c1
CI_EMAIL=jenkins@example.com

## Docker images names
# The docker image names we use are here. You could use different ones for
# testing pourposes or other reasons.
JENKINS_IMAGE_NAME=codeurjc/forge-jenkins:v2
ARCHIVA_IMAGE_NAME=codeurjc/forge-archiva:v2
GITLAB_IMAGE_NAME=codeurjc/forge-gitlab:v2
SONAR_IMAGE_NAME=codeurjc/forge-sonarqube:v1
GITLAB_RUNNER_IMAGE_NAME=codeurjc/forge-gitlab-runner:v2

## Containers port
# You can access the services by binding this ports in your machine.
JENKINS_PORT=8181
SONAR_PORT=8282
GITLAB_PORT=8383
ARCHIVA_PORT=8484
GITLAB_SSH_PORT=2222

## Initial project
# We provide an initial project to start working ASAP
INITIAL_PROJECT_DESCRIPTION="Super project"
INITIAL_PROJECT_NAME=awesome-project

# Gitlab configuration
GITLAB_RUNNER_REGISTRATION_TOKEN=AZJ2Wu8aq27kup5c2WZx
GITLAB_URL=http://${FORGE_PREFIX}-${GITLAB_NAME}

## Misc
# Other stuff
TIMEZONE="Europe/Madrid"
JENKINS_OPTS=--prefix=/jenkins
