# Prefix to label the stuff
FORGE_PREFIX=codeurjc-forge

# Containers name
APACHE_NAME=apache
GERRIT_NAME=gerrit
PG_GERRIT_NAME=pg-gerrit
LDAP_NAME=openldap
PHPLDAPADMIN_NAME=phpldapadmin
JENKINS_NAME=jenkins
ARCHIVA_NAME=archiva
OPENLDAP_SSP_NAME=openldap-ssp

# Volume name
APACHE_VOLUME=apache-volume
ARCHIVA_VOLUME=archiva-volume
GERRIT_VOLUME=gerrit-volume
JENKINS_VOLUME=jenkins-volume
PG_GERRIT_VOLUME=pg-gerrit-volume

# Network name
CI_NETWORK=ci-network

# Initial credentials
GERRIT_ADMIN_EMAIL=admin@example.com
GERRIT_ADMIN_PWD=s3cr3t0
GERRIT_ADMIN_UID=admin
GERRIT_DEVELOPER_EMAIL=dev@example.com
GERRIT_DEVELOPER_PASSWORD=d3v3l0p3r
GERRIT_DEVELOPER_USERNAME=developer

# Docker images names
GERRIT_IMAGE_NAME=codeurjc/forge-gerrit
JENKINS_IMAGE_NAME=codeurjc/forge-jenkins
LDAP_IMAGE_NAME=openfrontier/openldap
POSTGRES_IMAGE_NAME=postgres
HTTP_IMAGE_NAME=httpd
ARCHIVA_IMAGE_NAME=xetusoss/archiva
OPENLDAP_SSP_IMAGE_NAME=openfrontier/ldap-ssp

# Containers port
GERRIT_PORT=8080
JENKINS_PORT=8181
LDAPSSP_PORT=8282
PHPLDAPADMIN_PORT=8383
ARCHIVA_PORT=8484
HTTPD_PORT=8585

# Initial project
INITIAL_PROJECT_DESCRIPTION="Super project"
INITIAL_PROJECT_NAME=awesome-project
JENKINS_EMAIL=jenkins@domain.local

# Ldap configuration
LDAP_ACCOUNTBASE="dc=example,dc=com"
SLAPD_DOMAIN=example.com
SLAPD_PASSWORD=secret 

# Misc
TIMEZONE="Europe/Madrid"
HTTPD_LISTENURL=http://*:${GERRIT_PORT}
JENKINS_OPTS=--prefix=/jenkins