<VirtualHost *:80>
	ErrorLog logs/vhost-error.log
    CustomLog logs/vhost-access.log combined

	DocumentRoot /usr/local/apache2/www
	<Directory "/usr/local/apache2/www">
		Options +Indexes
		IndexOptions FancyIndexing
   		Order deny,allow
		Deny from All
		AuthName "Artifact Repository"
		AuthType Basic
		AuthBasicProvider ldap
		AuthLDAPUrl ldap://LDAP_SERVER/LDAP_ROOT_DN?uid
		Require valid-user
		Satisfy any
	</Directory>

</VirtualHost>
